匿名ラジオ検索くん
<p><%= link_to '新規追加', '/radios/new' %></p>

<div class="search-form">
  <%= form_tag '/radios/search', method: :post do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<div class="radio-list">
  <% @radios.each do |radio| %>
    <p><%= link_to radio.title ,radio.url %></p>
  <% end %>
</div>

