匿名ラジオ名言検索
<p><%= link_to '新規追加', '/radios/new' %></p>

<div class="search-form">
  <%= form_tag '/radios/search', method: :post do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<div class="radio-list">
  <% @radios.each do |radio| %>
    <p>
      <%= link_to radio.text,radio.url %>
      <%= link_to '削除',"/radios/#{radio.id}",method: :delete %>
    </p>
  <% end %>
</div>

